body {
    background-color: #E5E5E5;
    display: block;
    font-family: 'Roboto';
}

.barra_superior {
    background-color: #CF2B2B;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 92px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 10px 0 10px grey;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: white;
}

h2 {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.corpo_pagina {
    margin-top: 92px;
    margin-bottom: 106px;
    padding-left: 19px;
    padding-top: 30px;
    width: 100%;
    height: auto;
    background-color: #E5E5E5;
}

.titulo_secao {
    margin-bottom: 17px;
}

h3 {
    font-family: 'Righteous';
    font-size: 26px;
    color: #333333;
}

.secao_pratos, .secao_bebidas, .secao_sobremesa {
    margin-bottom: 27px;
}

.opçoesPratos, .opçoesBebidas, .opçoesSobremesas {
    display: flex;
    overflow-x: scroll;
}

.prato1, .prato2, .prato3, .prato4 {
    background-color: white;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    box-shadow: 0 0 5px grey;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    margin-right: 16px;
    padding-top: 18px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    box-sizing: border-box;
    position: relative;
}

.bebida1, .bebida2, .bebida3, .bebida4 {
    background-color: white;
    width: 172px;
    height: 202px;
    border-radius: 9px;
    box-shadow: 0 0 5px grey;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    margin-right: 16px;
    padding-top: 18px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    box-sizing: border-box;
    position: relative;
}

.sobremesa1, .sobremesa2, .sobremesa3, .sobremesa4 {
    background-color: white;
    width: 172px;
    height: 197px;
    border-radius: 9px;
    box-shadow: 0 0 5px grey;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    margin-right: 16px;
    padding-top: 18px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    box-sizing: border-box;
    position: relative;
}

.imagem {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.nome_prato, .nome_bebida, .nome_sobremesa {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.descricao {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: #A6A6A6;
}

.valor {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.selecionado {
    box-shadow: 0 0 0 5px inset green;
}

.icone {
    display: none;
}

.aparecer_icone {
    display: inline;
    position: absolute;
    bottom: 12px;
    right: 10px;
    font-size: 20px;
    color: green;
    z-index: 1;
}

.resumoPedido {
    display: none;
    width: 377px;
    height: 353px;
    position: fixed;
    top: calc(50% - 188px);
    left: calc(50% - 176px);
    z-index: 4;
    background-color: #50D074;
    box-shadow: 0 0 5px grey;
    border-radius: 9px;
}

.showResumo {
    display: inline;
}

.confirmar {
    background-color: white;
    height: 52px;
    border-radius: 50px;
}

.cancelar {
    background-color: red;
    height: 52px;
    border-radius: 50px;
}

.fundo{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
}

.opaco {
    display: inline;
}

h4 {
    font-family: 'Roboto';
    font-size: 22px;
    color: white;
}

.barra_inferior {
    background-color:  white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.botao_pedido {
    background-color: #CBCBCB;
    height: 61px;
    width: 364px;
    border-radius: 50px;
    display: flex;
}

p {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.ativo {
    background-color: green;
    color: white;
}
